<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Trains</h1>
    <center>
    <table class="styled-table">
        <thead>
            <th><input type="search" placeholder="Search Train NO" ng-model="search.emp_id" /></th>
            <th><input type="search" placeholder="Search Date" ng-model="search.assign_date" /></th>
            </tr>
            <tr>
                <th>Train No</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Train in r_ctrl| filter:search">
                <td>{{Train.emp_id}}</td>
                <td>{{Train.assign_date}}</td>
            </tr>
        </tbody>
    </table></center>
</body>

</html>